.mainPage {
    background-image: url(images/EasterBKG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleWords {
    color: #ffed4b;
    font-family: brush script mt;
    font-size: 75px;
    text-shadow:
   -2px -2px 0 #5c1da8, 
    2px -2px 0 #5c1da8,
    -2px 2px 0 #5c1da8,
     2px 2px 0 #5c1da8;
     margin-bottom: 0;
}

.rules {
    width: 350px;
    padding: 20px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}

.rulesWords {
    margin-bottom: 0;
    margin-top: 0;
    font-size: larger;
    text-align: center;
    text-shadow:
   -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
     1px 1px 0 #ffffff;
}

h1 {
    text-align: center;
}

hr {
    visibility: hidden;
    width: 0;
    border-width: 10px;
    border-top-style:dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: #FEC8C3;

}

.pink {
    height: 200px;
    width: 150px;
    margin-left: 200px;
    margin-right: auto;
}

.purple {
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: 400px;
}


.yellow {
    height: 200px;
    width: 150px;
    margin-left: 100px;
    margin-right: auto;
}

.topEggs {
    margin-top: 0;
    display: flex;
    width: 100%;
}

.bottomHrii {
    width: 50%;
    border-width: 31px;
    border-top-style:dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: #A9DEF9;
}

.hints {
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.hintTwo {
    margin-top: 0;
    margin-left: 15px;
    color: #ffffff;
    font-size: 25px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.hintWords {
    display: flex;
}

.hintOne {
    margin-top: 0;
    margin-left: 435px;
    margin-right: auto;
    color: #ffffff;
    font-size: 25px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.hintThree {
    margin-top: 0;
    margin-left: auto;
    margin-right: 435px;
    color: #ffffff;
    font-size: 25px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.pageOne {
    background-image: url(images/starBkg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTwo {
    background-image: url(images/puzzle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whiteWords {
    color: #ffffff;
    stroke-width: 5px;
}

.fillerOne {
    visibility: hidden;
    height: 600px;
}